/*
  Name: Harry Cheng
  Date: 09.03.2025
  Section: CSE 154 AA

  WRITE A 2-3 SENTENCE FILE DESCRIPTION HERE
  ***
*/

body {
  background-color:beige;
  font-family: "Helvetica", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}